body {
    font-family: Arial, sans-serif;
    background-color: #fbc3dc;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

h2{
text-align: center;
color: #ebf6fa;
margin-top: 50px;
}
.carousel {
    position: relative;
    overflow: hidden;
    width: 80%; /* Ajusta el ancho del carrusel */
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#music-control {
    background-color: #e458ac;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#music-control:hover {
    background-color: #45a049;
}
